*{
    margin: 0%;
}
body{
    font-family: sans-serif;
    padding: 90px 20px 0px;
}
.header {
    background: linear-gradient(90deg, #b429f9, #6a00c9);
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0%;
}
.nav {
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}
.page {
    color: white;
    text-decoration: none;   
}
.logo {
    color: white;
    font-family: sans-serif;
    font-size: 30px;
    font-weight:bold ;
    letter-spacing: 2px;
    padding: 0 20px;
    line-height: 80px;
    width: max-content;
    white-space: nowrap;
    text-decoration: none;
}


.navbar {
display: flex;
margin-right: 40px;
list-style: none;

}
.item {
    font-size: 18px;
    margin: 0 10px;
    text-transform: uppercase;
    line-height: 50px ;

}
.page {
    padding: 8px 12px;
    border-radius: 12px;
}
.page:hover, .page_active {
    background-color: #630b57;
    transition: 0.5s;
}
.nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
    cursor: pointer;
}
@media (max-width:768px) {
        body{
            padding-top: 70px;
        }
        .header {
            height: 60px;  

        .logo {
            font-size: 25px;
            padding: 0 20px;
            line-height: 60px;
           
        }  
        .navbar {
        flex-direction: column;
        margin-right: 20px;  
        background-color: #2e3e50;  
        position: fixed;
        left: 0;
        top: 40px;
        width: 100%;
        align-items: center;
        padding: 20px 0;
        height: calc(100% - 60px);
        overflow-y:auto;
        left: 100%;
        transition: 0.3s;
        }

        .item {
            font-size: 18px;
            margin: 0 10px;
            text-transform: uppercase;
            line-height: 40px ;
        
        }
        
        .page:hover, .page_active {
            background: none;
            color: #f504d5;
        }
        .nav-toggle {
            display: block;
        }
        .nav_active {
            left: 0%;
        }
        .nav-toggle:focus:not(:focus-visible) {
            outline: none;
        }
}

    }
